{% extends 'landingpage/base.html' %}
<!-- index page -->

{% block body %}



<!--  -->
<div class="clearfix"></div>
<section class="res-srch-hero res-srch-hero-x txt no-defualt-bg ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="res-blog-grid">
                    <h2>Latest News &amp; Trends</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="res-blog-hero cols-padding foo-cols-padding sec-bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-xl-8 col-md-12 col-lg-12 col-xs-12 col-sm-12">
                <div class="content-area">
                    <div class="row grid">
                        <!-- Blog Data Section -->
                        {% for blog in blogs %}
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 grid-item">
                            <div class="post-81 post type-post status-publish format-standard has-post-thumbnail hentry category-appetizers tag-desert tag-food tag-sweet"
                                id="post-81">
                                <div class="blog-card">
                                    <div class="blog-card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                        <img width="970" height="500"
                                            src="{{blog.blog_images}}"
                                            class="img-fluid border-radius-lg wp-post-image" alt="" />
                                    </div>
                                    <div class="card-body pt-3">
                                        <span
                                            class="blog-category text-gradient text-warning text-uppercase text-xs font-weight-bold my-2">
                                            {{blog.blog_type}} 
                                        </span>
                                        <a href="/blog-details"
                                            class="card-title h5 d-block text-darker">
                                            <h3>{{blog.blog_title}}</h3>
                                        </a>
                                        <p class="blog-card-description mb-4">
                                            {{blog.blog_desc}} &hellip; </p>
                                        <div class="blog-author align-items-center">
                                            <img src="https://secure.gravatar.com/avatar/?s=96&#038;d=mm&#038;r=g"
                                                alt="" class="blog-avatar blog-shadow">
                                            <div class="blog-name ps-3">
                                                <span>{{user.username}}</span>
                                                <div class="stats">
                                                    <small>{{blog.blog_posted_date}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--  -->
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 margin-bottom-30">
                            <nav>
                                <ul class="pagination justify-content-start">
                                    <li class="page-item disabled hidden-md-down d-none d-lg-block"><span
                                            class="page-link">Page 1 of 2</span></li>
                                    <li class="page-item active"><span class="page-link"><span class="sr-only"> Page
                                            </span>1</span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="/pagination"><span
                                                class="sr-only">Page </span>2</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                <aside class="blog-sidebar custom-padding">
                    <div class="widget">
                        <div id="search-2">
                            <form role="search" method="get" class="search-form"
                                action="https://marketplace.foodotawp.com/">
                                <div class="realestate-search-blog">
                                    <div class="input-group stylish-input-group">

                                        <input type="search" class="form-control" placeholder="Search &hellip;" value=""
                                            name="s" />
                                        <span class="input-group-append"><button class="blog-search-btn" type="submit">
                                                <i class="fa fa-search"></i> </button></span>
                                    </div>
                                </div>
                                <input type="submit" class="search-submit" value="Search" />
                            </form>
                        </div>
                    </div>
                    <div class="widget">
                        <div id="categories-3">
                            <div class="widget-heading">
                                <h2>Food Categories</h2>
                                <div class="heading-dots clearfix">
                                    <span class="h-dot line-dot"></span>
                                    <span class="h-dot"></span>
                                    <span class="h-dot"></span>
                                    <span class="h-dot"></span>
                                </div>
                            </div>
                            <ul>
                                <li class="cat-item cat-item-21"><a
                                        href="https://marketplace.foodotawp.com/category/appetizers/">Appetizers</a>
                                </li>
                                <li class="cat-item cat-item-16"><a
                                        href="https://marketplace.foodotawp.com/category/cuisine/">Cuisine</a>
                                </li>
                                <li class="cat-item cat-item-17"><a
                                        href="https://marketplace.foodotawp.com/category/italian/">Italian</a>
                                </li>
                                <li class="cat-item cat-item-18"><a
                                        href="https://marketplace.foodotawp.com/category/mexican/">Mexican</a>
                                </li>
                                <li class="cat-item cat-item-19"><a
                                        href="https://marketplace.foodotawp.com/category/steakhouse/">SteakHouse</a>
                                </li>
                                <li class="cat-item cat-item-20"><a
                                        href="https://marketplace.foodotawp.com/category/sushi/">Sushi</a>
                                </li>
                                <li class="cat-item cat-item-1"><a
                                        href="https://marketplace.foodotawp.com/category/uncategorized/">Uncategorized</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="widget">
                        <div id="media_image-3">
                            <div class="widget-heading">
                                <h2>Advertisement</h2>
                                <div class="heading-dots clearfix">
                                    <span class="h-dot line-dot"></span>
                                    <span class="h-dot"></span>
                                    <span class="h-dot"></span>
                                    <span class="h-dot"></span>
                                </div>
                            </div><a href="#"><img width="380" height="633"
                                    src="https://marketplace.foodotawp.com/wp-content/uploads/2021/05/sd.png"
                                    class="image wp-image-3338  attachment-full size-full" alt="" loading="lazy"
                                    style="max-width: 100%; height: auto;" title="Advertisement"
                                    srcset="https://marketplace.foodotawp.com/wp-content/uploads/2021/05/sd.png 380w, https://marketplace.foodotawp.com/wp-content/uploads/2021/05/sd-180x300.png 180w, https://marketplace.foodotawp.com/wp-content/uploads/2021/05/sd-126x210.png 126w"
                                    sizes="(max-width: 380px) 100vw, 380px" /></a>
                        </div>
                    </div>
                    <div class="widget">
                        <div id="recent-posts-2">
                            <div class="widget-heading">
                                <h2>Recent Posts</h2>
                                <div class="heading-dots clearfix">
                                    <span class="h-dot line-dot"></span>
                                    <span class="h-dot"></span>
                                    <span class="h-dot"></span>
                                    <span class="h-dot"></span>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <a href="https://marketplace.foodotawp.com/amazing-decadent-pecan-pie/">Amazing
                                        Decadent Pecan PIE Best Cake</a>
                                </li>
                                <li>
                                    <a href="https://marketplace.foodotawp.com/wrap-vegetable-salad-for-lunch/">Vegetable
                                        &#038; Chicken Wrap For Lunch</a>
                                </li>
                                <li>
                                    <a href="https://marketplace.foodotawp.com/black-hot-suchi-with-salad/">Black
                                        Special hot Suchi with Salad Serving</a>
                                </li>
                                <li>
                                    <a href="https://marketplace.foodotawp.com/best-ever-healthy-breakfast/">Best Ever
                                        Healthy Breakfast Everyday</a>
                                </li>
                                <li>
                                    <a
                                        href="https://marketplace.foodotawp.com/grilled-chicken-kabab-with-tomato-sauce/">Grilled
                                        Chicken &#038; kabab with tomato Sauce</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

{% endblock body %}
<!--  -->