<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% block formstinymce %}
  {% endblock %}
</head>
<body>
  <main>
    <div class="container">
    <div class="jumbotron">
      <h1>EAST POLE SCHOOL</h1>
      <h2>Activities Reporting and Grading Systems</h2>
      <hr>
      {% block content %}
      {% endblock %}
    </div>
  </div>
  </main>
</body>
{% block script %}
<script type="text/javascript">
tinymce.init({
    selector: "textarea"
});
</script>
{% endblock %}
</html>
